* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}


.contact {
flex-wrap: wrap;
justify-content: center;
padding-top: 300px;
padding-bottom: 100px;
}

.flex-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 400px;
padding-top: 100px;
padding-bottom: 100px;
}

#info {
display: flex;
justify-content: center;
height: 40px;
font-size: 20px;
padding-bottom: 200px;
}

.nav {
  list-style-type: none;
  text-align: right; 
}
.nav li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
body {
  background-color: rgb(103, 135, 197);
}
.name {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(53, 131, 235);
}
h1 {
  font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
  border-radius: 35%;
  max-width: 10%;
  max-height: 10%
  }
  
h2 {
font-size: 35px;
background-color: rgb(228, 21, 21);
  }
.mikey {
display: block;
flex-wrap:wrap;
padding-top: 40px;
padding-bottom: 30px;
}
h3 {
  font-size: 28px;
}
.container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 209px;
  padding-right: 20px;
}